<h3>404 Page Not Found</h3>
<section class="index-container width-35">
  <p>
    Perhaps the page you were looking for no longer exists? Please
    double-check the URL and try again.
  </p>
  <p class="note">
    Please note that this application is purely a hobby app, and is not
    meant to be used by actual teachers and students. The application is more
    of an opportunity for me to further familiarize myself with Express and
    MongoDB. If you have any questions or concerns, please contact me at
    <a href="mailto:wguo91@gmail.com">wguo91@gmail.com</a>.
  </p>
</section>
