<h3>500 Internal Server Error</h3>
<section class="index-container width-35">
  <p>
    Uh-oh, this is definitely not good news. Please contact me at
    <a href="mailto:wguo91@gmail.com">wguo91@gmail.com</a> and let me know
    about this error. I will attempt to resolve the issue ASAP.
  </p>
</section>
