<h2>Account Login</h2>
<form class="width-35" id="login-form" method="post" action="/login">
  <div>
    <label class="form-label" for="username">Username</label>
    <input class="form-input" name="username" type="text" placeholder="Username">
  </div>
  <div>
    <label class="form-label" for="password">Password</label>
    <input class="form-input" name="password" type="password" placeholder="Password">
  </div>
  <input class="submit-btn" type="submit" value="Submit">
</form>
<a href="#">Forgot password?</a>
