/**********************************
 * DASHBOARD/STUDENTS
 **********************************/
.dashboard {
  text-align: left;
  font-size: 1em;
  margin-bottom: 1em;
  h4 {
    @include whiteOnDarkBlue();
    font-size: $h4-font-size;
    text-align: center;
    letter-spacing: 0.05em;
    padding: 0.5em 0;
  }
  p.welcome-msg {
    margin-bottom: 1em;
  }
  .entry {
    border: 0.1em solid $black;
    padding: 0.5em;
    display: flex;
    img {
      @include widthHeight(100px, 100px);
      min-height: 100px;
      min-width: 100px;
    }
    aside {
      font-size: $info-font-size;
      padding: 0.5em 1em;
      .grades-link {
        font-weight: bold;
        text-decoration: none;
      }
      .grades-link:hover,
      .grades-link:focus {
        text-color: $dark-blue-hover;
      }
    }
  }
  .options-container {
    border: 0.1em solid $black;
    padding: 0.5em;
    display: flex;
    .options {
      flex-grow: 1;
      ul {
        list-style-type: none;
      }
    }
  }
  a {
    color: $dark-blue;
  }
  a:hover,
  a:focus {
    color: $dark-blue-hover;
  }
  .grades-container {
    margin-bottom: 1em;
    padding: 0.5em;
    h2 {
      @include whiteOnDarkBlue();
      text-align: center;
      margin: 0;
      padding: 1em;
    }
    table {
      @include widthHeight(100%, 100%);
      border: 0.1em solid $light-gray;
      border-collapse: collapse;
      tr {
        th {
          background-color: $cyan;
          color: white;
          border: 0.1em solid $light-gray;
          padding: 0.5em;
        }
        td {
          border: 0.1em solid $light-gray;
          padding: 0.5em;
        }
      }
      tr:nth-child(even) {
        background-color: $white-gray;
      }
      .grade-display {
        text-align: right;
        font-weight: bold;
      }
    }
  }
}
.dashboard.class-options {
  margin-top: 1em;
}
