/**********************************
* MEDIA QUERIES
**********************************/
@media only screen and (min-width: 768px) {
  .width-35 {
    width: 35%;
    margin: 0 auto;
  }
  .width-50 {
    width: 50%;
    margin: 0 auto;
  }
  .width-55 {
    width: 55%;
    margin: 0 auto;
  }
  .width-60 {
    width: 60%;
    margin: 0 auto;
  }
  .width-70 {
    width: 70%;
    margin: 0 auto;
  }
}
