/**********************************
* STUDENTS
**********************************/
.students-container {
  text-align: left;
  font-size: 1em;
  margin-bottom: 1em;
  h4 {
    @include whiteOnDarkBlue();
    font-size: $h4-font-size;
    text-align: center;
    letter-spacing: 0.05em;
    padding: 0.5em 0;
  }
  .entry {
    border: 0.1em solid $black;
    padding: 0.5em;
    display: flex;
    img {
      @include widthHeight(100px, 100px);
      min-height: 100px;
      min-width: 100px;
    }
    aside {
      font-size: $info-font-size;
      padding: 0.5em 1em;
      .grades-link {
        font-weight: bold;
        text-decoration: none;
      }
      .grades-link:hover,
      .grades-link:focus {
        text-color: $dark-blue-hover;
      }
      a {
        color: $dark-blue;
      }
      a:hover,
      a:focus {
        color: $dark-blue-hover;
      }
    }
  }
  .nav-container {
    display: flex;
    justify-content: center;
    a {
      @include whiteOnDarkBlue();
      font-size: $input-font-size;
      text-decoration: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      padding: 1em;
      margin-bottom: 1em;
      border: none;
    }
    a:first-child {
      border: 0.1em solid $white;
      border-radius: 0.5em 0 0 0.5em;
    }
    a:last-child {
      border: 0.1em solid $white;
      border-radius: 0 0.5em 0.5em 0;
    }
  }
  div h4 {
    background-color: $white;
    color: $black;
    text-align: center;
  }
  .width-60 {

  }
}
